
    <nav id="navbar">
        <div><a href="/blog"><img src="/logo.jpg" alt="" id="logo"></a></div>
        <div id="navcontent">
            <ul>
                <li><a href="/blog/list">List of Blogs</a></li>
                <li><a href="/blog/create-Blog">Create Blog</a></li>
                <li><a href="/blog/about">About</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
