<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/60d95acc62.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="full">
    <%- include("./partials/nav.ejs")%>
    <div class="container" id="about">
        <div class="content" >
            <h2>About</h2>
            <div id="aboutcontent">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, dolores fuga unde quidem ea fugiat. 
                Corrupti expedita ad quasi 
                debitis aliquid consequatur cumque odit saepe, pariatur doloribus, aspernatur, facere incidunt?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, dolores fuga unde quidem ea fugiat. 
                Corrupti expedita ad quasi 
                debitis aliquid consequatur cumque odit saepe, pariatur doloribus, aspernatur, facere incidunt?
                
            </p>
            <img src="/photo.jpg" alt="" id="photo1">
        </div>
            <address>
                <h1 style="color:green;"><u >Contact Us</u></h1><br>
                <h3>Rachana S </h3>

                # 456, 13c cross, Vishweshwarai Layout, Sidedally, Nagasandra post, Bangalore-560073 <br> 
                <i class="fa-solid fa-phone-volume"> </i>  9787532353 <br>
                <i class="fa-regular fa-envelope"> </i> rachanas310796@gmail.com<br>
            </address>
        </div>
        
    </div>
    <%- include("./partials/footer.ejs")%>
</nav>
</body>
</html>