<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <nav class="full">
<%- include("./partials/nav.ejs")%>
<ul>
    <h1>Recent Blogs</h1>
    <% blogs.forEach(blog=>{%>
        <h3><%=blog.title%></h3> 
        
      <%}) %>
    
</ul>

</nav>  
</body>
</html>